<script type="module" src="/static/gouvfr/js/dsfr.module.min.js"></script>
<script type="text/javascript" nomodule src="/static/gouvfr/js/dsfr.nomodule.min.js"></script>

<footer class="fr-footer" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand">
        <a class="fr-logo"
          href="/"
          title="Direction interministérielle du numérique">
          <span class="fr-logo__title">
            République
            <br>française
          </span>
        </a>
      </div>
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc">
          Conférences téléphoniques pour les agents de l'État
        </p>
        <p class="fr-footer__content-desc">
            Le code source est ouvert et les contributions sont bienvenues.
            <a title="Voir le code source"
               href="https://github.com/betagouv/conferences"
               target="_blank"
               rel="noopener"
               >Voir le code source</a>
        </p>
        <ul class="fr-footer__content-links">
          <li>
            <a title="Contactez-nous"
               href="<%= urls.contact %>">
              Contactez-nous
            </a>
          </li>
          <li>
            <a href="https://www.numerique.gouv.fr/">numerique.gouv.fr</a>
          </li>
          <li>
            <a href="https://beta.gouv.fr/">beta.gouv.fr</a>
          </li>
          <li>
            <a href="https://www.gouvernement.fr/">gouvernement.fr</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li>
          <a href="<%= urls.legalNotice %>#accessibilite">Accessibilité: non conforme</a>
        </li>
        <li>
          <a href="<%= urls.legalNotice %>">Mentions légales et CGU</a>
        </li>
        <li>
          <a href="<%= urls.legalNotice %>#donnees-personnelles">Données personnelles</a>
        </li>
      </ul>
      <div class="fr-footer__bottom-copy">
        AudioConf version <%= version %> -
        © République Française 2020
      </div>
    </div>
  </div>
</footer>

</body>
</html>
