<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>
    <% if (locals.pageTitle) { %>
      <%= pageTitle %> | <%= appName %>
    <% } else { %>
      <%= appName %>
    <% } %>
  </title>
  <!-- todo(estellecomment) : import min css and js -->
  <link rel="stylesheet" type="text/css" href="/static/gouvfr/css/dsfr.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
</head>
<body>
  <header class="fr-header">
    <div class="fr-container">
      <div class="fr-header__body">
        <div class="fr-header__brand">
          <a class="fr-logo"
             href="/"
             title="Direction interministérielle du numérique">
            <span class="fr-logo__title">
              République
              <br>française
            </span>
          </a>
        </div>
        <div class="fr-header__navbar">
          <div class="fr-service">
            <a class="fr-service__title" href="/" title="<%= appName %>">
              <%= appName %>
            </a>
            <p class="fr-service__tagline">
              Conférences téléphoniques pour les agents de l'État
            </p>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-shortcuts">
            <ul class="fr-shortcuts__list">
              <li class="fr-shortcuts__item">
                <div class="fr-checkbox-group">
                  <input type="checkbox" id="fr-dark-mode-toggle-switch" name="fr-dark-mode-toggle-switch" class="ng-untouched ng-pristine ng-valid">
                  <label for="fr-dark-mode-toggle-switch" class="fr-label"></label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
