<!DOCTYPE html>
<html lang="fr" data-fr-scheme="system">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <% if (locals.pageTitle) { %>
      <%= pageTitle %> | <%= appName %>
    <% } else { %>
      <%= appName %>
    <% } %>
  </title>
  <!-- todo(estellecomment) : import min css and js -->
  <link rel="stylesheet" type="text/css" href="/static/gouvfr/dsfr/dsfr.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/gouvfr/utility/utility.min.css">
  <link rel="stylesheet" href="/static/remixicon/remixicon.css">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
</head>

<body>

  <header role="banner" class="fr-header">
    <div class="fr-header__body">
      <div class="fr-container">
        <div class="fr-header__body-row">
          <div class="fr-header__brand fr-enlarge-link">
            <div class="fr-header__brand-top">
              <div class="fr-header__logo">
                <p class="fr-logo">
                  République
                  <br>Française
                </p>
              </div>
              <div class="fr-header__navbar">
                <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-menu"
                  aria-haspopup="menu" title="Menu">
                  Menu
                </button>
              </div>
            </div>
            <div class="fr-header__service">
              <a href="/" title="Accueil - <%= appName %>">
                <p class="fr-header__service-title">
                  <%= appName %>
                </p>
              </a>
              <p class="fr-header__service-tagline">Conférences téléphoniques pour les agents de l'État</p>
            </div>
          </div>
          <div class="fr-header__tools">
            <div class="fr-header__tools-links">
              <ul class="fr-links-group">
                <li class="fr-link fr-icon-question-line">
                  <a href="<%= urls.faq %>">Une question ?</a>
                </li>
                <li>
                  <%- include('dark-mode-switch') -%>
                </li>
                <% if (locals.user) { %>
                <li class="fr-link fr-icon-logout-box-r-line fr-icon">
                  <a href="<%= urls.logout %>">Se déconnecter</a>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navigation principale -->
    <div class="fr-header__menu fr-modal" id="modal-menu" aria-labelledby="button-834">
      <div class="fr-container">
        <button class="fr-link--close fr-link" aria-controls="modal-menu">Fermer</button>
        <div class="fr-header__menu-links"></div>
      </div>
    </div>
  </header>
