<%- include('partials/header') -%>

<div class="rf-container">
  <div class="main-paragraph">
    <h2>Votre conférence est prête !</h2>

    <p>Elle peut accueillir jusqu'à 50 personnes.</p>

    <div class="rf-callout">
        <p class="rf-callout__title">Pour vous y connecter</p>
        <ul class="rf-callout__text">
        <li>
          Appelez le
          <a href="tel:<%= conference.phoneNumber %>"><strong><%= format.formatFrenchPhoneNumber(conference.phoneNumber) %></strong></a>
          depuis un téléphone.
        </li>
        <li>
          Tapez le code d'accès :
          <strong id="pin">
            **** (Vous avez reçu le code PIN par email, si vous l'avez perdu, annuler cette conférence et générer une nouvelle conférence)
          </strong>
        </li>
      </ul>
    </div>

      <p>
        Ce numéro de conférence est actif pendant <%= format.formatMinutesInHours(conference.durationInMinutes) %>.
        Il expirera <%= format.formatFrenchDate(conference.expiresAt) %>.
      </p>

      <p>Bonne discussion avec <%= appName %> !</p>

      <hr />
      <p id="annuler"><strong>Vous n'allez pas utiliser ce numéro de conférence ? Libérez-le pour qu'il soit réutilisé : </strong>
      <form action="<%= urls.cancelConf.replace(":id", conference.id) %>" method="POST">
        <div class="rf-checkbox-group">
          <input type="checkbox" id="confirm" name="confirm" onchange="document.getElementById('cancel-button').disabled = null">
          <label class="rf-label" for="confirm" aria-describedby="checkboxes-hint-confirm-desc-hint">En cochant cette case, je comprends que le numéro ne me sera plus réservé.</label>
          <p class="rf-hint-text" id="checkboxes-hint-confirm-desc-hint">Je pourrais réserver un nouveau numéro.</p>
        </div><br>
        <div class="rf-input-group">
          <button type="submit" class="rf-btn" title="Annuler la conférence" id="cancel-button" disabled>Annuler la conférence</button>
        </div>
    </form>
    </p>
  </div>
</div>

<script type="text/javascript">
  // If the pin is in the hash, display it in the page.
  const hash = window.location.hash.replace('#', '')
  if (/^[0-9]{4}$/.test(hash)) {
    document.getElementById('pin').innerHTML = hash
  }
</script>

<%- include('partials/footer') -%>
