<%- include('partials/header') -%>

<div class="rf-container">
  <h4>Conf créée! Bravo! </h4>
  <ul>
    <li><%= email %></li>
    <li>Numéro à appeler : <%= confData.phoneNumber %></li>
    <li>Code à 6 chiffres : <%= confData.id %></li>
  </ul>
</div>

<%- include('partials/footer') -%>
