<%- include('partials/header') -%>

<div class="rf-container">
  <div class="main-paragraph">
    <h2>Votre conférence est bien créée.</h2>
    <p>
      <p>Pour vous y connecter : <p>
      <ul>
        <li>appelez le <strong><%= formattedPhoneNumber %></strong> sur votre téléphone pro ou perso</li>
        <li>tapez le code d'accès à <%= NUM_PIN_DIGITS %> chiffres : <strong><%= pin %></strong></li>
      </ul>
      <p></p>
      <p>
        Ce numéro de conférence est actif pendant <%= confDurationVerbose %>.
        Il expirera <%= formattedFreeAt %>.
      </p>
      <p>Il peut accueillir jusqu'à 50 personnes.</p>
      <p></p>
      <p>Bonne journée avec <%= appName %> !</p>

    </p>
    <p>Bonne discussion !</p>
  </div>
</div>

<%- include('partials/footer') -%>
