<%- include('partials/header') -%>

<div class="fr-container">
  <div class="main-paragraph">
    <h2>
      Votre conférence
      <% if(conference.conferenceDay) {  %>
        du <%= format.formatFrenchDate(new Date(conference.conferenceDay)) %>
      <% } %>
      est réservée !
    </h2>

    <div class="fr-callout fr-mb-3w">
      <p class="fr-callout__title">
        Pour vous y connecter
        <% if(conference.conferenceDay) {  %>
          le <%= format.formatFrenchDate(new Date(conference.conferenceDay)) %>
        <% } %>
      </p>
      <ul class="fr-callout__text">
        <li>Appelez le <a id="phone-link" href="tel:<%= conference.phoneNumber %>"><strong><%= format.formatFrenchPhoneNumber(conference.phoneNumber) %></strong></a> (numéro non surtaxé) depuis un téléphone.</li>
        <li>Tapez le code d'accès :
          <strong id="pin">
            **** (Vous avez reçu le code d'accès par email, si vous l'avez perdu, annuler cette conférence et démarrer une nouvelle conférence)
          </strong>
          et appuyez sur "#"
        </li>
      </ul>
    </div>

    <p>
      <% if(conference.conferenceDay) {  %>
        Ce numéro de conférence sera actif toute la journée du  <%= format.formatFrenchDate(new Date(conference.conferenceDay)) %>. Il pourra accueillir jusqu'à 50 personnes.
      <% } else { %>
         Ce numéro de conférence expirera <%= format.formatFrenchDateTime(conference.expiresAt) %>.
      <% } %>
    </p>
    <% if(hasWebAccessMailBeenSent) {  %>
    <p>
      Deux e-mails vous ont été envoyés :
      <ul>
        <li>la confirmation de la réservation de votre conférence téléphonique. Le mail contient les informations de connexion à la conférence audio et peut être transmis aux participants.</li>
        <li>le lien de modération de votre conférence téléphonique. Il permet d'accéder au tableau de bord de la conférence audio, et ne doit être transmis qu'aux modérateurs de la conférence.</li>
      </ul>
    </p>
    <% } else {%>
      <p>Un e-mail vous a été envoyé : il contient les informations de connexion à la conférence audio et peut être transmis aux participants.</p>
    <% }%>

    <p>Bonne discussion avec <%= appName %> !</p>
    <% if(pollUrl) {  %>
      <hr />
      <div class="fr-my-3w">
        <div class="fr-mb-2w">Partagez vos impressions sur <%= appName %> :</div>
        <div class="fr-input-group">
          <a class="fr-btn fr-btn fr-btn--primary" title="Donner mon avis" rel="noopener noreferrer nofollow" target="_blank" href="<%= pollUrl %>">
            Donner mon avis
          </a>
        </div>
      </div>
    <% } %>

  </div>
</div>

<script>
  // If the pin is in the hash, display it in the page.
  const hash = window.location.hash.replace('#', '');
  const numPinDigits = <%= numPinDigits %>;

  const formatPin = <%- format.formatPin %>; // "< %-" gives unescaped content. Ok because not user-generated content.

  const regex = new RegExp(`^[0-9]{${numPinDigits}}$`);
  if (regex.test(hash)) {
    document.getElementById('pin').innerHTML = formatPin(hash);
    const phoneLink = document.getElementById('phone-link');
    phoneLink.href = phoneLink.href + ',,' + hash + '#';
  }

</script>

<%- include('partials/footer') -%>
