<%- include('partials/header') -%>

<div class="rf-container">
  <div class="main-paragraph">
    <h2>
      Votre conférence
      <% if(conference.isDayConference) {  %>
        du <%= format.formatFrenchDate(conference.expiresAt) %>
      <% } %>
      est réservée !
    </h2>

    <div class="rf-callout">
      <p class="rf-callout__title">
        Pour vous y connecter
        <% if(conference.isDayConference) {  %>
          le <%= format.formatFrenchDate(conference.expiresAt) %>
        <% } %>
      </p>
      <ul class="rf-callout__text">
        <li>Appelez le <a id="phone-link" href="tel:<%= conference.phoneNumber %>"><strong><%= format.formatFrenchPhoneNumber(conference.phoneNumber) %></strong></a> (numéro non surtaxé) depuis un téléphone.</li>
        <li>
          Tapez le code d'accès :
          <strong id="pin">
            **** (Vous avez reçu le code d'accès par email, si vous l'avez perdu, annuler cette conférence et démarrer une nouvelle conférence)
          </strong>
          <span id="press-pound" style="display: none;">et appuyez sur "#"</span>
        </li>
      </ul>
    </div>

    <p>
      <% if(conference.isDayConference) {  %>
        Ce numéro de conférence sera actif toute la journée du  <%= format.formatFrenchDate(conference.expiresAt) %>. Il pourra accueillir jusqu'à 50 personnes.
      <% } else { %>
        Ce numéro de conférence est actif pendant <%= format.formatMinutesInHours(conference.durationInMinutes) %>.
        Il expirera <%= format.formatFrenchDateTime(conference.expiresAt) %>.
      <% } %>
    </p>


    <p>Bonne discussion avec <%= appName %> !</p>
    <% if(pollUrl) {  %>
      <hr />
      <p>Partagez vos impressions</p>

      <div class="rf-input-group">
        <a class="rf-btn rf-btn rf-margin-right-2N rf-btn--primary" title="Donner mon avis" rel="noopener noreferrer nofollow" target="_blank" href="<%= pollUrl %>">
          Donner mon avis
        </a>
      </div>
    <% } %>

    <% if (!useOVHRoomAPI) { %>
      <hr />
      <p id="annuler">
        <strong>Vous n'allez pas utiliser ce numéro de conférence ? Libérez-le pour qu'il soit réutilisé : </strong>
      </p>
      <form action="<%= urls.cancelConf.replace(":id", conference.id) %>" method="POST">
        <div class="rf-checkbox-group">
          <input type="checkbox" id="confirm" name="confirm" onchange="document.getElementById('cancel-button').disabled = null">
          <label class="rf-label" for="confirm" aria-describedby="checkboxes-hint-confirm-desc-hint">En cochant cette case, je comprends que le numéro ne me sera plus réservé.</label>
          <p class="rf-hint-text" id="checkboxes-hint-confirm-desc-hint">Je pourrais réserver un nouveau numéro.</p>
        </div>
        <br>
        <div class="rf-input-group">
          <button type="submit" class="rf-btn" title="Annuler la conférence" id="cancel-button" disabled>Annuler la conférence</button>
        </div>
      </form>
    <% } %>
  </div>
</div>

<script>
  // If the pin is in the hash, display it in the page.
  const hash = window.location.hash.replace('#', '');
  const numPinDigits = <%= numPinDigits %>;
  const useOVHRoomAPI = <%= useOVHRoomAPI %>;

  const formatPin = <%- format.formatPin %>; // "< %-" gives unescaped content. Ok because not user-generated content.

  const regex = new RegExp(`^[0-9]{${numPinDigits}}$`);
  if (regex.test(hash)) {
    document.getElementById('pin').innerHTML = formatPin(hash);
    const phoneLink = document.getElementById('phone-link');
    phoneLink.href = phoneLink.href + ',,' + hash + (useOVHRoomAPI ? '#' : '');
  }

  if (useOVHRoomAPI) {
    document.getElementById('press-pound').style.display = 'inline';
  }
</script>

<%- include('partials/footer') -%>
