<%- include('partials/header') -%>

<div class="rf-container rf-margin-bottom-8N">
  <div class="rf-grid-row rf-grid-row--center">
    
    <div class="rf-col">
      <h2>Contact</h2>

      <p>La plateforme <%= appName %> est éditée par l'Incubateur de services numériques de la Direction interministérielle du numérique (DINUM).</p>

      <div class="rf-callout">
        <h2 class="rf-callout__title">Email de contact </h2>
        <p class="rf-callout__text">Nous sommes joignable à l'adresse :
        <strong><%= supportEmail %></strong>.</p>
      </div>

      <h4>Mon service d'État n'est pas reconnu</h4>

      <p>Votre email professionnel n'est pas reconnu ?</p>
      <a class="rf-btn rf-btn rf-margin-right-2N rf-btn"
          title="Contactez-nous"
           target="_blank"
           rel="noopener"
           href="mailto:<%= supportEmail %>?subject=Demander l'ajout de mon service&amp;body=Bonjour,%0d%0a%0d%0a[Je travaille dans le service...]">
          Demander l'ajout de mon service
        </a>.

      <h4>Je n'arrive pas à accéder à la plateforme</h4>

      <p>Vous rencontrez un problème technique pour participer à une conférence ?</p>
      <a class="rf-btn rf-btn rf-margin-right-2N rf-btn"
          title="Contactez-nous"
           target="_blank"
           rel="noopener"
           href="mailto:<%= supportEmail %>?subject=Remonter un problème technique&amp;body=Bonjour,%0d%0a%0d%0a[Expliquez votre probl%C3%A8me ici]">
          Remonter un problème
        </a>.

      <h4>Je n'arrive pas à accéder au service</h4>

      <p>AudioConf n'est pas accessible pour votre configuration ?</p>

      <a class="rf-btn rf-btn rf-margin-right-2N rf-btn"
          title="Contactez-nous"
           target="_blank"
           rel="noopener"
           href="mailto:<%= supportEmail %>?subject=Je signale un défaut d'accessibilité">
          Signaler un défaut d'accessibilité
        </a>.
      
    </div>

  </div>
</div>

<%- include('partials/footer') -%>
