<%- include('partials/header') -%>

<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--center">

    <div class="fr-col">
      <h2 class="fr-mt-7w">Contact</h2>

      <p>La plateforme <%= appName %> est éditée par l'Incubateur de services numériques de la Direction interministérielle du numérique (DINUM).</p>

      <div class="fr-callout fr-mb-3w">
        <h2 class="fr-callout__title">Email de contact </h2>
        <p class="fr-callout__text">Nous sommes joignable à l'adresse :
        <strong><%= supportEmail %></strong></p>
      </div>

      <div class="main-paragraph">
        <h4>Mon service d'État n'est pas reconnu</h4>
        <%- include('partials/askToAddNewService') -%>
      </div>

      <% if(pollUrl) { %>
        <div class="main-paragraph">
          <h4>J'ai des idées pour améliorer le service</h4>
          <div class="fr-mb-2w">Une fonctionnalité vous paraît manquante ?</div>
          <a class="fr-btn fr-btn fr-btn"
            title="Donnez votre avis"
            target="_blank"
            rel="noopener"
            href="<%= pollUrl %>">
            Donnez votre avis
          </a>
        </div>
      <% } %>

      <div class="main-paragraph">
        <h4>Je n'arrive pas à accéder à la plateforme</h4>
        <div class="fr-mb-2w">Vous rencontrez un problème technique pour participer à une conférence ?</div>
        <a class="fr-btn fr-btn fr-btn"
           title="Remontez un problème"
           target="_blank"
           rel="noopener"
           href="mailto:<%= supportEmail %>?subject=Remonter%20un%20problème%20technique&amp;body=Bonjour,%0d%0a%0d%0a%5BExpliquez%20votre%20probl%C3%A8me%20ici%5D">
          Remonter un problème
        </a>
      </div>

      <div class="main-paragraph">
        <h4>Je n'arrive pas à accéder au service</h4>
        <div class="fr-mb-2w">AudioConf n'est pas accessible pour votre configuration ?</div>
        <a class="fr-btn fr-btn fr-btn"
           title="Signaler un défaut d'accessibilité"
           target="_blank"
           rel="noopener"
           href="mailto:<%= supportEmail %>?subject=Je%20signale%20un%20défaut%20d'accessibilité">
          Signaler un défaut d'accessibilité
        </a>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') -%>
