<%- include('partials/header') -%>

<div class="fr-container">
  <div class="main-paragraph">
    <h2>
      
    </h2>

    <div class="fr-callout fr-mb-3w">
      <p class="fr-callout__title">
      </p>
      <table>
        <tr>
          <th>Numéro</th>
          <th>Energie</th>
          <th>Heure d'arrivée</th>
          <th>Nom (si renseigné)</th>
          <td>En train de parler</th>
          <th>peut parler</th>
          <th>est actif</th>
          <th>peut entendre</th>
          <th>id</th>
        </tr>
        <% for (var i = 0; i < participants.length; i++) { %>
          <tr>
            <td><%= participants[i].callerNumber %></td>
            <td><%= participants[i].energy %></td>
            <td><%= participants[i].arrivalDateTime %></td>
            <td><%= participants[i].callerName %></td>
            <td><%= participants[i].talking %></td>
            <td><%= participants[i].speak %></td>
            <td><%= participants[i].floor %></td>
            <td><%= participants[i].hear %></td>
            <td><%= participants[i].id %></td>
          </tr>
          <% } %>
      </table>
    </div>

    <p>
    </p>


    <p>Bonne discussion avec <%= appName %> !</p>
  </div>
</div>

<%- include('partials/footer') -%>
