<%- include('partials/header') -%>

<div class="fr-container">
  <div class="main-paragraph">
    <h2>
      Board de votre conference
    </h2>
    <% if (errors.length) { %>
      <% errors.forEach(function(error) { %>
        <%- include('partials/notificationError', {error: error}) -%>
      <% }) %>
    <% } %>

    <% if (infos.length) { %>
      <% infos.forEach(function(info) { %>
        <%- include('partials/notificationInfo', {info: info}) -%>
      <% }) %>
    <% } %>

    <% if (successes.length) { %>
      <% successes.forEach(function(success) { %>
        <%- include('partials/notificationSuccess', {success: success}) -%>
      <% }) %>
    <% } %>
    <div class="fr-callout fr-mb-3w">
      <p class="fr-callout__title">
      </p>
      <table>
        <tr>
          <th>Numéro</th>
          <th>Energie</th>
          <th>Heure d'arrivée</th>
          <th>Nom (si renseigné)</th>
          <td>En train de parler</th>
          <th>peut parler</th>
          <th>est actif</th>
          <th>peut entendre</th>
          <th>id</th>
          <th>actions</th>
        </tr>
        <% for (var i = 0; i < participants.length; i++) { %>
          <tr>
            <td><%= participants[i].callerNumber %></td>
            <td><%= participants[i].energy %></td>
            <td><%= participants[i].arrivalDateTime %></td>
            <td><%= participants[i].callerName %></td>
            <td><%= participants[i].talking %></td>
            <td><%= participants[i].speak %></td>
            <td><%= participants[i].floor %></td>
            <td><%= participants[i].hear %></td>
            <td><%= participants[i].id %></td>
            <td>
              <% if (participants[i].speak) { %>
              <a href="<%= siteUrl %>/dashboard/<%= token %>/<%= participants[i].id %>/mute">Mute</a>
              <% } else { %>
                <a href="<%= siteUrl %>/dashboard/<%= token %>/<%= participants[i].id %>/unmute">Unmute</a>
              <% } %>
            </td>
          </tr>
          <% } %>
      </table>
    </div>

    <p>
    </p>


    <p>Bonne discussion avec <%= appName %> !</p>
  </div>
</div>

<%- include('partials/footer') -%>
