<%- include('partials/header') -%>

<div class="fr-container">
  <div class="main-paragraph">
    <h2>
      Board de votre conference (numero: <%= phoneNumber %>, code : <%= roomNumber %>)
    </h2>
    <% if (errors.length) { %>
      <% errors.forEach(function(error) { %>
        <%- include('partials/notificationError', {error: error}) -%>
      <% }) %>
    <% } %>

    <% if (infos.length) { %>
      <% infos.forEach(function(info) { %>
        <%- include('partials/notificationInfo', {info: info}) -%>
      <% }) %>
    <% } %>

    <% if (successes.length) { %>
      <% successes.forEach(function(success) { %>
        <%- include('partials/notificationSuccess', {success: success}) -%>
      <% }) %>
    <% } %>
    <div class="fr-callout fr-mb-3w">
      <p class="fr-callout__title">
      </p>
      <a class="fr-btn"
      href="<%= siteUrl %>/dashboard/<%= token %>">Rafraîchir</a> Dernière mise à jour : il y a <span id="last-update">0</span>s 
      <br>
      <br>
      <table>
        <tr>
          <th>Numéro</th>
          <th>Heure d'arrivée</th>
          <td>En train de parler</th>
          <th>peut parler</th>
          <th>actif</th>
          <th>peut entendre</th>
          <th>id</th>
          <th>actions</th>
        </tr>
        <% for (var i = 0; i < participants.length; i++) { %>
          <tr>
            <td><%= participants[i].callerNumber %></td>
            <td><%= participants[i].arrivalTime %></td>
            <td><%= participants[i].talking ? 'oui' : 'non' %></td>
            <td><%= participants[i].speak ? 'oui' : 'non' %></td>
            <td><%= participants[i].floor ? 'oui' : 'non' %></td>
            <td><%= participants[i].hear ? 'oui' : 'non' %></td>
            <td><%= participants[i].id %></td>
            <td>
              <% if (participants[i].speak) { %>
              <a href="<%= siteUrl %>/dashboard/<%= token %>/<%= participants[i].id %>/mute">mettre en sourdine</a>
              <% } else { %>
                <a href="<%= siteUrl %>/dashboard/<%= token %>/<%= participants[i].id %>/unmute">enlever la sourdine</a>
              <% } %>
            </td>
          </tr>
          <% } %>
      </table>
    </div>

    <p>
    </p>


    <p>Bonne discussion avec <%= appName %> !</p>
  </div>
</div>
<script src="/static/js/dashboard.js"></script>

<%- include('partials/footer') -%>
