<%- include('partials/header') -%>

<div class="rf-container">
  <div class="rf-grid-row rf-grid-row--center">
    <div class="rf-col rf-col-lg-8">
      <div id="je-cree-une-conf" class="main-paragraph">
        <h2>
          Créer une conférence téléphonique
        </h2>
          <% if (errors.length) { %>
            <div class="notification error">
                <% errors.forEach(function(error) { %>
                    <div class="rf-grid-row">
                      <span class="rf-fi-close-circle-line rf-margin-right-1N"></span>
                      <div>
                        <%= error %>
                      </div>
                    </div>
                <% }) %>
            </div>
          <% } %>
          <% if (successes.length) { %>
            <div class="notification success">
                <% successes.forEach(function(success) { %>
                  <div class="rf-grid-row">
                    <span class="rf-fi-check-circle-line rf-margin-right-1N"></span>
                    <div>
                      <%= success %>
                    </div>
                  </div>
                <% }) %>
            </div>
          <% } %>
          <% if(numberOfFreePhoneNumbers) { %>
            <form action="<%= urls.sendValidationEmail %>" method="POST">
              <div class="rf-input-group">
                  <label class="rf-label" for="email">Votre email professionnel :</label>
                  <input class="rf-input" type="email" id="email" name="email" required>
              </div>
              <div class="rf-input-group">
                  <label class="rf-label" for="duration">Durée de la réservation</label>
                  <select class="rf-select" id="duration" name="durationInMinutes">
                      <option value="60">1 heure</option>
                      <option value="120" selected>2 heures</option>
                      <option value="255">4 heures</option>
                      <option value="720">12 heures</option>
                      <option value="1440">24 heures</option>
                  </select>
              </div>
              <div class="rf-input-group">
                  <button type="submit" class="rf-btn" title="Démarrer ma conférence">Démarrer ma conférence</button>
              </div>
            </form>
            <p class="rf-text--xs">
              Il reste <%= numberOfFreePhoneNumbers %> numéro<%= numberOfFreePhoneNumbers === 1 ? '' : 's' %> de conférence disponibles.
            </p>
          <% } else { %>
            <div class="notification info rf-grid-row">
              <span class="rf-fi-information-line rf-margin-right-1N"></span>
              Nous n'avons plus de numéro de conférence disponible. Prochain numéro libre <%= format.formatFrenchDate(nextFreePhoneNumberAt) %>.
            </div>
          <% } %>
      </div>
      <div id="comment-ca-marche" class="main-paragraph">
        <h2>
          Comment ça marche ?
        </h2>
        <div>
          <div class="sub-paragraph">
            <h3>Je démarre une conférence</h3>
            <p>Renseignez votre email professionnel pour recevoir un lien de création : en un clic, votre conférence sera prête ! </p>
          </div>
          <div class="sub-paragraph">
            <h3>J'invite les participants</h3>
            <p>
              Transmettez aux participants le <b>numéro de téléphone de la conférence</b> et le code d’accès à  <%= NUM_PIN_DIGITS %> chiffres.<br />
Chaque participant peut appeler le numéro depuis son téléphone professionnel ou personnel puis taper le code d'accès à la conférence.
            </p>
          </div>
          <div class="sub-paragraph">
            <h3>C'est parti !</h3>
            Chaque personne appelle le numéro depuis son téléphone (pro ou perso, peu importe)
            et tape les <%= NUM_PIN_DIGITS %> chiffres du code d'accès à la conférence.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
