<%- include('partials/header') -%>

<div class="fr-container">
  <div class="fr-notice fr-notice--info">
    <div class="fr-container">
        <div class="fr-notice__body">
            <p class="fr-notice__title">
              Audioconf change de mode d'authentification au 30/05/2024 pour <a href='https://agentconnect.gouv.fr' rel='noopener external' title="site d'Agent Connect - nouvelle fenêtre" target='_blank'>Agent Connect</a> !
            </p>
        </div>
    </div>
</div>
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col fr-col-lg-8">
      <div id="je-cree-une-conf" class="main-paragraph">
        <h2>
          Réserver une conférence téléphonique
        </h2>
          <% if (announcements.length) { %>
            <% announcements.forEach(function(announcement) { %>
              <%- include('partials/unsafeAnnouncementInfo', {info: announcement}) -%>
            <% }) %>
          <% } %>

          <% if (errors.length) { %>
            <% errors.forEach(function(error) { %>
              <%- include('partials/notificationError', {error: error}) -%>
            <% }) %>
          <% } %>

          <% if (infos.length) { %>
            <% infos.forEach(function(info) { %>
              <%- include('partials/notificationInfo', {info: info}) -%>
            <% }) %>
          <% } %>

          <% if (successes.length) { %>
            <% successes.forEach(function(success) { %>
              <%- include('partials/notificationSuccess', {success: success}) -%>
            <% }) %>
          <% } %>

          <form action="<%= urls.startAuth %>" method="POST">
            <div class="fr-input-group">
              <label class="fr-label" for="email">Votre adresse mail professionnelle :</label>
              <input class="fr-input" type="email" id="email" name="email" required>
            </div>
            <% if(FEATURE_RESERVATIONS) { %>
              <div class="fr-input-group">
                <label class="fr-label" for="day">Date d'expiration de votre conférence :</label>
                <p class="fr-hint-text" id="day-hint">Le numéro de conférence vous sera réservé jusqu'au </p>
                <select class="fr-select" id="day" name="day" aria-describedby="day-hint">
                  <% dateChoices.forEach(function(dateChoice) { %>
                    <option value="<%= dateChoice.value %>"><%= dateChoice.label %></option>
                  <% }) %>
                </select>
              </div>
            <% } else { %>
              <div class="fr-input-group">
                <label class="fr-label" for="duration">Durée de la réservation</label>
                <select class="fr-select" id="duration" name="durationInMinutes">
                  <option value="60">1 heure</option>
                  <option value="120" selected>2 heures</option>
                  <option value="240">4 heures</option>
                  <option value="720">12 heures</option>
                  <option value="1440">24 heures</option>
                </select>
              </div>
            <% } %>
            <div class="hidden">
              <input type="number" id="userTimezoneOffset" name="userTimezoneOffset" required>
            </div>
            <div class="fr-input-group">
              <button type="submit" class="fr-btn" title="Réserver ma conférence">Réserver ma conférence</button>
            </div>
          </form>

          <p class="fr-text--s">
            <% if (FEATURE_DISPLAY_STATS_ON_LANDING) { %>
              <% if (onlineParticipantsCount > 0) { %>
                Actuellement, il y a <%= onlineParticipantsCount %> personne<%= onlineParticipantsCount > 1 ? 's' : '' %> dans <%= activeConfsCount %> conférence<%= activeConfsCount > 1 ? 's' : '' %> téléphonique<%= activeConfsCount > 1 ? 's' : '' %>.
              <% } %>
            <% } %>
          </p>
      </div>

    </div>
  </div>
</div>

<div id="advantages" class="fr-container-fluid bandeau-principal text-center fr-p-5w">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-6"><h3 class="fr-h2">Collaborez à distance facilement</h3></div>
  </div>
  <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutter">
    <div class="fr-col-xs-12 fr-col-md-3 fr-p-3w">
      <div class="fr-h3">Accessible partout</div>
      <div>Numéro non surtaxé pour la France métropolitaine et les DROM.</div>
    </div>
    <div class="fr-col-xs-12 fr-col-md-3 fr-p-3w">
      <div class="fr-h3">Par téléphone</div>
      <div>Adapté au téléphone fixe ou mobile. Pas besoin d'ordinateur ou de logiciel.</div>
    </div>
    <div class="fr-col-xs-12 fr-col-md-3 fr-p-3w">
      <div class="fr-h3">Sans internet</div>
      <div>Technologie téléphonique, accessible sans connexion internet.</div>
    </div>
  </div>
</div>

<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col fr-col-lg-8">

      <div id="comment-ca-marche" class="main-paragraph">
        <h2>
          Comment ça marche ?
        </h2>
        <div>
          <div class="sub-paragraph">
            <h3>Je réserve une conférence</h3>
            <p>
              Choisissez la
              <% if(FEATURE_RESERVATIONS) { %>
                date
              <% } else { %>
                durée
              <% } %>
              pour laquelle vous voulez réserver un numéro et validez votre réservation avec votre adresse mail professionnelle.
            </p>
          </div>
          <div class="sub-paragraph">
            <h3>Je transmets les informations aux participants</h3>
            <p>
              Partagez aux participants le <b>numéro de téléphone de la conférence</b> et le <b>code d’accès</b> à <%= NUM_PIN_DIGITS %> chiffres.<br>
            </p>
          </div>
          <div class="sub-paragraph">
            <h3>C'est parti !</h3>
            <p>
              <% if(FEATURE_RESERVATIONS) { %>
                Le jour de la conférence, chaque
              <% } else { %>
                Chaque
              <% } %>
              participant pourra appeler le numéro (non surtaxé) depuis son téléphone fixe ou mobile, puis taper le code d'accès à la conférence.
            </p>
            <p>
              Le prix de l'appel sera le prix habituel d'un appel vers la France métropolitaine et dans la limite du forfait souscrit avec votre opérateur.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Fill in the hidden input with the user's timezoneOffset
  document.getElementById('userTimezoneOffset').value = new Date().getTimezoneOffset()
</script>
<%- include('partials/footer') -%>
