<%- include('partials/header') -%>

<div class="rf-container">
  <div class="rf-grid-row rf-grid-row--center">
    <div class="rf-col rf-col-lg-8">
      <div id="je-cree-une-conf" class="main-paragraph">
        <h2>
          Réserver une conférence téléphonique
        </h2>
          <% if (errors.length) { %>
            <% errors.forEach(function(error) { %>
              <%- include('partials/notificationError', {error: error}) -%>
            <% }) %>
          <% } %>

          <% if (infos.length) { %>
            <% infos.forEach(function(info) { %>
              <%- include('partials/notificationInfo', {info: info}) -%>
            <% }) %>
          <% } %>

          <% if (successes.length) { %>
            <% successes.forEach(function(success) { %>
              <%- include('partials/notificationSuccess', {success: success}) -%>
            <% }) %>
          <% } %>

          <% if(useOVHRoomAPI || numberOfFreePhoneNumbers) { %>
            <form action="<%= urls.sendValidationEmail %>" method="POST">
              <div class="rf-input-group">
                <label class="rf-label" for="email">Votre email professionnel :</label>
                <input class="rf-input" type="email" id="email" name="email" required>
              </div>
              <% if(FEATURE_RESERVATIONS) { %>
                <div class="rf-input-group">
                  <label class="rf-label" for="day">Date de votre conférence :</label>
                  <p class="rf-hint-text" id="day-hint">La conférence vous sera réservée pour la journée choisie.</p>
                  <select class="rf-select" id="day" name="day" aria-describedby="day-hint">
                    <% dateChoices.forEach(function(dateChoice) { %>
                      <option value="<%= dateChoice.value %>"><%= dateChoice.label %></option>
                    <% }) %>
                  </select>
                </div>
              <% } else { %>
                <div class="rf-input-group">
                  <label class="rf-label" for="duration">Durée de la réservation</label>
                  <select class="rf-select" id="duration" name="durationInMinutes">
                    <option value="60">1 heure</option>
                    <option value="120" selected>2 heures</option>
                    <option value="240">4 heures</option>
                    <option value="720">12 heures</option>
                    <option value="1440">24 heures</option>
                  </select>
                </div>
              <% } %>
              <div class="rf-input-group">
                <button type="submit" class="rf-btn" title="Réserver ma conférence">Réserver ma conférence</button>
              </div>
            </form>
          <% } else { %>
            <%- include('partials/notificationInfo', {info: `Nous n'avons plus de numéro de conférence disponible. Prochain numéro libre ${format.formatFrenchDateTime(nextFreePhoneNumberAt)}.`}) -%>
          <% } %>
          <p class="rf-text--s">
            <% if (FEATURE_DISPLAY_STATS_ON_LANDING) { %>
              <% if (onlineParticipantsCount > 0) { %>
                Actuellement, il y a <%= onlineParticipantsCount %> personne<%= onlineParticipantsCount > 1 ? 's' : '' %> dans <%= activeConfsCount %> conférence<%= activeConfsCount > 1 ? 's' : '' %> téléphonique<%= activeConfsCount > 1 ? 's' : '' %>.
              <% } %>
              <% if (!useOVHRoomAPI) { %>
                Il reste <%= numberOfFreePhoneNumbers %> numéro<%= numberOfFreePhoneNumbers === 1 ? '' : 's' %> de conférence disponibles.
              <% } %>
            <% } %>
          </p>
      </div>

    </div>
  </div>
</div>

<div id="advantages" class="rf-container-fluid rf-bg--alt rf-padding-bottom-6N rf-padding-top-2N">
  <div class="rf-grid-row rf-grid-row--center">
    <div class="rf-col-6"><h3 class="rf-h2">Collaborez à distance facilement</h3></div>
  </div>
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter">
    <div class="rf-col-xs-12 rf-col-md-3 rf-padding-3N">
      <div class="rf-text--lg rf-padding-bottom-2N">Accessible partout</div>
      <div class="rf-text--sm">Numéro non surtaxé pour la France métropolitaine.</div>
    </div>
    <div class="rf-col-xs-12 rf-col-md-3 rf-padding-3N">
      <div class="rf-text--lg rf-padding-bottom-2N">Pour téléphone</div>
      <div class="rf-text--sm">Adapté au téléphone fixe ou mobile. Pas besoin d'ordinateur ou de logiciel.</div>
    </div>
    <div class="rf-col-xs-12 rf-col-md-3 rf-padding-3N">
      <div class="rf-text--lg rf-padding-bottom-2N">Sans internet</div>
      <div class="rf-text--sm">Technologie téléphonique, accessible sans connexion internet.</div>
    </div>
  </div>
</div>

<div class="rf-container">
  <div class="rf-grid-row rf-grid-row--center">
    <div class="rf-col rf-col-lg-8">

      <div id="comment-ca-marche" class="main-paragraph">
        <h2>
          Comment ça marche ?
        </h2>
        <div>
          <div class="sub-paragraph">
            <h3>Je réserve une conférence</h3>
            <p>
              Choisissez la
              <% if(FEATURE_RESERVATIONS) { %>
                date
              <% } else { %>
                durée
              <% } %>
              pour laquelle vous voulez réserver un numéro et validez votre réservation avec votre email professionnel.
            </p>
          </div>
          <div class="sub-paragraph">
            <h3>Je transmets les informations aux participants</h3>
            <p>
              Partagez aux participants le <b>numéro de téléphone de la conférence</b> et le <b>code d’accès</b> à <%= NUM_PIN_DIGITS %> chiffres.<br>
            </p>
          </div>
          <div class="sub-paragraph">
            <h3>C'est parti !</h3>
            <p>
              <% if(FEATURE_RESERVATIONS) { %>
                Le jour de la conférence, chaque
              <% } else { %>
                Chaque
              <% } %>
              participant pourra appeler le numéro (non surtaxé) depuis son téléphone fixe ou mobile puis taper le code d'accès à la conférence.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
