<%- include('partials/header') -%>

<div class="rf-container">
  <h2>
    Mentions légales
  </h2>
  <div>
    <div class="sub-paragraph">
      <h3>Éditeur de la Plateforme</h3>
      <p>
        La Plateforme <%= appName %> est éditée par l'Incubateur de services numériques de la
        Direction interministérielle du numérique (DINUM).
      </p>
      <p>
        Coordonnées :<br>
        Adresse : DINUM, 20 avenue de Ségur, 75007 Paris<br>
        Tel. accueil : 01.71.21.01.70<br>
        SIRET : 12000101100010 (secrétariat général du gouvernement)<br>
        SIREN : 120 001 011
      </p>
    </div>
    <div class="sub-paragraph">
      <h3>Directrice.eur de la publication</h3>
      Directeur interministériel du numérique.
    </div>
    <div class="sub-paragraph">
      <h3>Hébergement de la Plateforme</h3>
      Ce site est hébergé en propre par Scalingo SAS, 15 avenue du Rhin, 67100 Strasbourg, France.
    </div>
    <div class="sub-paragraph" id="accessibilite">
      <h3>Accessibilité</h3>
      <p>La conformité aux normes d’accessibilité numérique est un objectif ultérieur. En attendant, nous tâchons de rendre ce site
      accessible à toutes et à tous :</p>
      <ul>
        <li>Utilisation de composants accessibles (design system de l'État)</li>
        <li>Respect des bonnes pratiques (Pilida, Opquast...)</li>
        <li>Tests manuels</li>
      </ul>
      <h4>Signaler un dysfonctionnement</h4>
      <p>
        Si vous rencontrez un défaut d’accessibilité vous empêchant d’accéder à un contenu ou une fonctionnalité du site,
        merci de nous en faire part en
        <a title="Contactez-nous"
           href="<%= urls.contact %>">
          nous contactant
        </a>.
      </p>
      <p>
        Si vous n’obtenez pas de réponse rapide de notre part,
        vous êtes en droit de faire parvenir vos doléances ou une demande de saisine au Défenseur des droits.
      </p>
    </div>
    <div class="sub-paragraph">
      <h3>En savoir plus</h3>
      Pour en savoir plus sur la politique d’accessibilité numérique de l’État :
      <a href="http://references.modernisation.gouv.fr/accessibilite-numerique">http://references.modernisation.gouv.fr/accessibilite-numerique</a>
    </div>
    <div class="sub-paragraph">
      <h3>Sécurité</h3>
      Le site est protégé par un certificat électronique, matérialisé pour la grande majorité des navigateurs par un cadenas.
      Cette protection participe à la confidentialité des échanges.
      En aucun cas les services associés à la plateforme ne seront à l’origine d’envoi de courriels pour demander
      la saisie d’informations personnelles.
    </div>
  </div>

  <hr>
  <h2>
    Conditions Générales d'Utilisation
  </h2>
  <div>
    <div class="sub-paragraph">
      Les présentes conditions générales d’utilisation (dites “CGU”) fixent le cadre juridique de la Plateforme “AudioConf” et définissent les conditions d’accès et d’utilisation des services par l’Utilisateur.
    </div>
    <div class="sub-paragraph">
      <h3>
        Article 1 - Champ d’application
      </h3>
      <p>
        La plateforme “audioconf.numerique.gouv.fr” est à l’initiative du département Produits Numériques Partagés avec l’aide de la mission Beta du programme TechGouv au sein de la Direction interministérielle du Numérique qui en est le responsable de traitements.
      </p>
    </div>
    <div class="sub-paragraph">
      <h3>
        Article 2 - Objet
      </h3>
      <p>
        La plateforme peut collecter des données à caractère personnel pour les finalités suivantes :
      </p>
      <ul>
        <li>
          Favoriser la coopération des équipes et le travail à distance ;
        </li>
        <li>
          Faciliter l’organisation de réunions, conférences ou formations.
        </li>
      </ul>
    </div>
    <div class="sub-paragraph">
      <h3>
        Article 3 - Définitions
      </h3>
      <p>
        “L’Utilisateur” est tout agent public ou interlocuteur d’agent public, utilisant la plateforme.
      </p>
      <p>
        Les « Services » sont les fonctionnalitées offertes par la plateforme pour répondre à ses finalités.
      </p>
      <p>
        « Le responsable de traitement » est la personne qui, au sens de l’article 4 du règlement UE) n°2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données détermine les finalités et les moyens des traitements de données à caractère personnel.
      </p>
    </div>
    <div class="sub-paragraph">
      <h3>
        Article 4 - Fonctionalités
      </h3>
      <div>
        <h4>
          4.1 Fonctionnalités ouvertes aux agents publics
        </h4>
        <p>
          AudioConf permet à tout agent public qui le souhaite de :
        </p>
        <ul>
          <li>
            Créer librement un salle d’audioconférence associé à un numéro d’appel. Tout agent de l’Etat, dont le domaine d’activité est autorisé à utiliser l’AudioConf ou qui n’est pas soumis à une obligation de confidentialité particulière ou secret professionnel, peut créer librement une salle d’audioconférence. Il lui suffit ensuite d’en partager le numéro d’appel et le code d’accès aux participants, qu’ils soient de l’administration ou externes à elle.
          </li>
          <li>
            Utiliser et avoir la maîtrise du numéro d’appel audioconférence et de ses fonctionnalités.
          </li>
        </ul>
        <p>
          A cet effet, les participants peuvent :
        </p>
        <ul>
          <li>
            échanger à distance en audio ;
          </li>
          <li>
            voir des informations sur la conférence.
          </li>
        </ul>
        <p>
          <strong>Seuls les agents, dont le domaine d’activité est autorisé à utiliser AudioConf</strong>
          ou qui
          <strong>ne sont pas soumis à une obligation de confidentialité particulière ou secret professionnel,</strong>
          peuvent utiliser ou avoir la maîtrise de l’AudioConf et de ses fonctionnalités.
        </p>
      </div>
      <div>
        <h4>
          4.2 Fonctionnalités ouvertes à tous les Utilisateurs
        </h4>
        <p>
          Audioconf permet à tout Utilisateur, agent public ou non de :
        </p>
        <ul>
          <li>
            Rejoindre une salle d’audioconférence organisé par un agent public, en tant qu’invité. Pour rejoindre un salon en tant qu’invité et accéder au service, depuis n’importe quel téléphone, composer le numéro d’appel indiqué puis le code d’accès.
          </li>
        </ul>
      </div>
    </div>
    <div class="sub-paragraph">
      <h3>
        Article 5 - Responsabilité
      </h3>
      <div>
        <h4>
          5.1 L’Editeur de la plateforme
        </h4>
        <p>
          L’éditeur s’autorise à suspendre ou révoquer l’accès au service, s’il estime que l’usage réalisé du service porte préjudice à son image ou ne correspond pas aux exigences de sécurité.
        </p>
        <p>
          L’éditeur s’engage à la sécurisation de la Plateforme, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies.
        </p>
        <p>
          L’éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu, sans contrepartie financière, à la Plateforme. Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, la plateforme pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.
        </p>
      </div>
      <div>
        <h4>
          5.2 L’Utilisateur de la plateforme
        </h4>
        <p>
          Toute information transmise par l’Utilisateur est de sa seule responsabilité. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.
        </p>
        <p>
          Il revient à l’Utilisateur de s’assurer préalablement d’être autorisé à utiliser AudioConf ou à ne pas être soumis à une obligation de confidentialité particulière ou secret professionnel.
        </p>
      </div>
    </div>
    <div class="sub-paragraph">
      <h3>
        Article 6 - Protection des données à caractère personnel
      </h3>
      <div>
        <h4>
          6.1 Responsable de traitement
        </h4>
        <p>
          Le responsable de traitement est la Direction intermnistérielle du Numérique, dont le directeur est Monsieur Nadi Bou Hanna.
        </p>
      </div>
      <div>
        <h4>
          6.2 Données personnelles traitées
        </h4>
        <p>
          La plateforme peut traiter les données à caractère personnel suivantes :
        </p>
        <ul>
          <li>
            Données relatives à l’agent public organisateur : adresse e-mail de l’agent public organisateur ;
          </li>
          <li>
            Données relatives aux audio-conférences (historique des numéros liés aux participants);
          </li>
          <li>
            Données collectées par l’hebergeur :
            <ul>
              <li>
                a) L’identifiant de la connexion ;
              </li>
              <li>
                b) L’identifiant attribué par ces personnes à l’abonné ;
              </li>
              <li>
                c) L’identifiant du terminal utilisé pour la connexion lorsqu’elles y ont accès ;
              </li>
              <li>
                d) Les dates et heure de début et de fin de la connexion ;
              </li>
              <li>
                e) Les caractéristiques de la ligne de l’abonné.
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div>
        <h4>
          6.3 Finalités des traitements
        </h4>
        <p>
          La plateforme peut traiter des données à caractère personnel pour les finalités suivantes :
        </p>
        <ul>
          <li>
            Favoriser la coopération des équipes et le travail à distance ;
          </li>
          <li>
            Faciliter l’organisation de réunions, conférences ou formations.
          </li>
        </ul>
      </div>
      <div>
        <h4>
          6.4 Base juridique des traitements de données
        </h4>
        <p>
          Les données traitées à l’occasion de ce traitement ont plusieurs fondements juridiques :
        </p>
        <ul>
          <li>
            l’obligation légale à laquelle est soumis le responsable de traitements au sens de l’article 6-c du RGPD ;
          </li>
          <li>
            la mission d’intérêt public à laquelle le responsable du traitement est soumis au sens de l’article 6-e du RGPD.
          </li>
        </ul>
        <p>
          Ces fondements sont précisés ci-dessous :
        </p>
        <div>
          <h5>
            a) Les données relatives à l’agent public organisateur
          </h5>
          <p>
            Ce traitement de données est nécessaire à l’exercice d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-e du règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données.
          </p>
          <p>
            La mission d’intérêt public est notamment posée par : <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000039281619/2019-10-28#JORFTEXT000039281619" target="_blank" rel="noopener noreferrer">L’article 6 du décret n°2019-1088 du 25 octobre 2019 relatif au système d’information et de communication de l’Etat et à la direction interministérielle du numérique</a>
          </p>
        </div>
        <div>
          <h5>
            b) Les données relatives à l’audio-conférence
          </h5>
          <p>
            Ce traitement de données est nécessaire à l’exercice d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-e du Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données.
          </p>
          <p>
            La mission d’intérêt public est notamment posée par : <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000039281619/2019-10-28#JORFTEXT000039281619" target="_blank" rel="noopener noreferrer">L’article 6 du décret n°2019-1088 du 25 octobre 2019 relatif au système d’information et de communication de l’Etat et à la direction interministérielle du numérique</a>
          </p>
        </div>
        <div>
          <h5>
            c) Les données de connexion
          </h5>
          <p>
            Ce traitement de données est nécessaire au respect d’une obligation légale à laquelle le responsable du traitement est soumis au sens de l’article 6-c du règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données.
          </p>
          <p>
            La mission d’intérêt public est notamment posée par :
          </p>
          <ul>
            <li>
              <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000801164/2020-10-26/" target="_blank" rel="noopener noreferrer">La loi LCEN n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique</a>
            </li>
            <li>
              <a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000023646013/" target="_blank" rel="noopener noreferrer">Les articles 1 et 3 du décret n°2011-219 du 25 février 2011</a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <h4>
          6.5 Durée de conservation des données traitées
        </h4>
        <p>
          Les données à caractère personnel sont conservées :
        </p>
        <table>
          <tr>
            <th>
              Types de données
            </th>
            <th>
              Durées de conservation
            </th>
          </tr>
          <tr>
            <td>Données relatives à l’agent organisateur</td>
            <td>
              Les données sont supprimées sous 48h après la date d’expiration de la réservation prévue ou effective (?)
            </td>
          </tr>
          <tr>
            <td>Données relatives à l’audio-conférence</td>
            <td>
              Les données sont supprimées sous 48h après la date d’expiration de la réservation prévue ou effective (?)
            </td>
          </tr>
          <tr>
            <td>Données de connexion</td>
            <td>
              1 an (?)
            </td>
          </tr>
        </table>
        <p>
          A l’issue de la durée de conservation, les données relatives à l’agent organisateur et les données relatives à la audio-conférence ne peuvent plus être utilisées par le responsable de traitements dans le cadre de la plateforme. Elles sont archivées pendant 6 mois à compter de la date d’expiration de la réservation prévue ou effective.
        </p>
      </div>
      <div>
        <h4>
          6.6 Sécurité et confidentialité
        </h4>
        <p>
          Le responsable de traitement s’engage à prendre toutes les mesures techniques et organisationnelles de sécurité nécessaires pour assurer la confidentialité, l’intégrité et pour protéger les données.
          Parmi ces mesures, le responsable de traitements garantit notamment :
        </p>
        <ul>
          <li>
            l’hébergement des données sur ses propres serveurs ; (?)
          </li>
          <li>
            le chiffrement des données via un protocole sécurisé.
          </li>
        </ul>
      </div>
      <div>
        <h4>
          6.7 Droits des personnes concernées
        </h4>
        <p>
          En vertu de l’article 13 du règlement (UE) n°2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données, il est rappelé à chaque utilisateur dont les données sont collectées dans le cadre de l’utilisation ou de la connexion à la plateforme AudioConf qu’il dispose des droits suivants concernant ses données à caractère personnel :
        </p>
        <ul>
          <li>
            Droit d’information ;
          </li>
          <li>
            Droit d’accès aux données ;
          </li>
          <li>
            Droit de rectification et droit d’effacement des données ;
          </li>
          <li>
            Droit de limitation des données
          </li>
        </ul>
        <p>
          Vous pouvez exercer ces droits en contactant par :
        </p>
        <ul>
          <li>
            voie électronique : <%= supportEmail %>
          </li>
          <li>
            voie postale : Direction interministérielle du Numérique, 20 avenue de Ségur, 75007 Paris.
          </li>
        </ul>
        <p>
          En raison de l’obligation de sécurité et de confidentialité dans le traitement des données à caractère personnel qui incombe au responsable de traitement, votre demande ne sera traitée que si vous rapportez la preuve de votre identité. Pour vous aider dans votre démarche, vous trouverez ici un modèle de courrier élaboré par la Cnil.
        </p>
        <p>
          Vous avez la possibilité de vous opposer à un traitement de vos données personnelles. Pour vous aider dans votre démarche, vous trouverez ici un modèle de courrier élaboré par la Cnil.
        </p>
        <p>
          Délais de réponse :
          La responsable de traitement s’engage à répondre à votre demande d’accès, de rectification ou d’opposition ou toute autre demande complémentaire d’informations dans un délai raisonnable qui ne saurait dépasser 1 mois à compter de la réception de votre demande.
        </p>
      </div>
      <div>
        <h4>
          6.8 Destinataires
        </h4>
        <p>
          Les données collectées sont traitées par les seules personnes juridiquement habilitées à connaître des informations traitées.
        </p>
        <p>
          Il s’agit des agents, salariés ou autre personne pouvant représenter la personne morale titulaire d’une mission de service public qui utilise le service de la plateforme.
        </p>
      </div>
      <div>
        <h4>
          6.9 Sous-traitants
        </h4>
        <p>
          Certaines données sont envoyées à des sous-traitants pour réaliser certaines missions. Le responsable de traitement s’est assuré de la mise en œuvre par ses sous-traitants de garanties adéquates et du respect de conditions strictes de confidentialité, d’usage et de protection des données.
        </p>
        <table>
          <tr>
            <th>
              Partenaire
            </th>
            <th>
              Traitement réalisé
            </th>
            <th>
              Pays destinataire
            </th>
            <th>
              Garanties
            </th>
          </tr>
          <tr>
            <td>
              Mailjet (?)
            </td>
            <td>
              Service d’envoi de mail
            </td>
            <td>
              France
            </td>
            <td>
              <a rel="noopener noreferrer nofollow" target="_blank" href="https://fr.mailjet.com/privacy-policy/">https://fr.mailjet.com/privacy-policy/</a>
            </td>
          </tr>
          <tr>
            <td>
              OVH (?)
            </td>
            <td>
              Audioconférence
            </td>
            <td>
              France
            </td>
            <td>
              <a rel="noopener noreferrer nofollow" target="_blank" href="https://www.ovh.com/fr/protection-donnees-personnelles/">https://www.ovh.com/fr/protection-donnees-personnelles/</a>
            </td>
          </tr>
          <tr>
            <td>
              Scalingo
            </td>
            <td>
              Hébergement
            </td>
            <td>
              France
            </td>
            <td>
              <a rel="noopener noreferrer nofollow" target="_blank" href="https://scalingo.com/fr/data-processing-agreement">https://scalingo.com/fr/data-processing-agreement</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
