<style>
    .paragraph {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  </style>
  <div>Bonjour,</div>
  
  <div class="paragraph">
    <div>
      Voici le lien de modération de votre conférence téléphonique du <%= formatedConferenceDayformat %>
      (numero <%= phoneNumber %>, code d'accès <%= pin %>) :
      <br>
      <br>
      <a href="<%= url %>"><%= url %></a>
      <br>
      <br>
      Ce lien n'est à partager qu'avec les modérateurs de la conférence.
      Il permet de voir qui est présent, de mettre en sourdine certains participants ou encore de les exclure.
    </div>
  </div>
  <div class="paragraph">
    Bonne journée avec <a href="<%= HOSTNAME_WITH_PROTOCOL %>"><%= APP_NAME %></a> !
  </div>
  
  <hr />
  <div>
    Créez votre propre conférence téléphonique, en toute autonomie, en allant sur
    <a href="<%= HOSTNAME_WITH_PROTOCOL %>"><%= APP_NAME %></a>
  </div>
